mixin input(data)
	div.input(class!=attributes.class)
		if data.label_text
			label(for!=data.name class!=attributes.label_class)!=data.label_text

		input.input__input(type=data.type name=data.name id!=data.name value=data.value)
		span.input__placeholder!=data.placeholder
		span.input__error!=data.error

		if data.eye
			span.input__eye